img.resize {
	width: 500px;
	height: auto;
}

div.polaroid {

	margin-bottom: 25px;
	display: grid;
  	grid-template-columns: auto auto auto auto auto auto;
  	align-items: center;
}

div.container { 
	text-align: center;
	padding: 10px 20px;
}

.viewPics {
	max-width: 20%;
	display: inline;
}

.header3 {
	margin-left: 40px;
}
td.header3 {
        padding:5px 40px 5px 40px;
        text-align: center;
}

.plants {
	padding: 10px;
	margin: 5px;
	background-color: #22D36A;
}

nav a {
	color: #25FF00;
	font-size: 2em;
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-decoration: none;
	background-color: #5A67FA;
}
.paddingBetweenCols td {
	padding:5px 40px 5px 40px;
	text-align: center;
}
.paddingBetweenCols {
	margin-left: 0px;
	marign-right: 0px;
}
a.button {
	text-decoration: none;
	border: solid;
	border-color: #0400FF;
	margin-left: 30px;
	color: #0400FF;

}
body.body {
	background-color: #CED2FC;
}
.logo {
	width: 50px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}
form.edit {
	margin-left: 20px;
}
