/* Plant Tracker Section */

/* Nav bar */

.logo {
	width: 50px;
	display: inline-block;
	vertical-align: middle;
	margin: 0px 10px 0px 20px;
	border-style: solid;
	border-radius: 50px;
	border-color: black;
}

nav.mainNav {
	background-image: linear-gradient(to bottom right, rgb(45, 148, 55),
	rgb(65, 237, 53),  rgba(45, 148, 55), rgb(65, 237, 53),
	rgb(65, 237, 53),  rgba(45, 148, 55), rgb(65, 237, 53),
	rgb(65, 237, 53),  rgba(45, 148, 55), rgb(65, 237, 53));
	padding: 10px 0px 10px 0px;
	border: solid;
}

a.mainNav {
	color: black;
	font-size: 2em;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-decoration: none;
	background-color: rgb(97, 185, 72);
	padding: 10px 10px 10px 10px;
	border-radius: 20px;
	border-style: solid;
	border-color: black;

}

/* Body */

body.body {
	background-image: url("plantBackground.jpg");
	margin: 0px;
}

form.edit {
	margin-left: 20px;
}

p.thirsty {
	margin: 20px 0px 10px 40px;
	padding: 10px 10px 10px 10px;
	font-size: 1.25em;
	background-color: rgb(123, 190, 124);
	display: inline-block;
	border: dotted;
	border-radius: 15px;
}

/* Pic Gallery */

img.resize {
	width: 500px;
	height: auto;
}

div.polaroid {

	margin-bottom: 25px;
	display: grid;
  	grid-template-columns: auto auto auto auto auto auto;
  	align-items: center;
}

div.container { 
	text-align: center;
	padding: 10px 20px;
}

.viewPics {
	max-width: 20%;
	display: inline;
}


/* Plant Index */

.thirstyTable {
	margin-left: 40px;
    border-radius: 40px;
    overflow: hidden;
}


td.thirstyList {
        padding: 5px 20px 5px 20px;
        text-align: center;
	border: double;
	border-radius: 15px;
}

a.thirstyList {
	color: inherit;
	text-decoration: none;
}

.plantTable {
	margin-left: 40px;
        border-radius: 40px 40px 15px 15px;
        overflow: hidden;
}

th.plantsList {
	background-color: rgb(255, 251, 242);
	border: double;
	border-radius: 30px 30px 0px 0px;
}

td.plantsList {
        padding: 5px 40px 5px 40px;
        text-align: center;
		border: double;
		border-radius: 10px;
}

.refresh{
	margin-left: 40px;
}

a.button {
	text-decoration: none;
	border: solid;
	border-color: #0400FF;
	margin-left: 40px;
	padding: 5px 5px 5px 5px;
	color: #0400FF;
	border-radius: 20px;
	background-color: #e9eafa;

}






/* Bee Tracker Section */

nav.beeNav {
	background-color: rgb(249, 251, 129);
	border: solid;
	border-radius: 20px 20px 0px 0px;
}

a.beeNav {
	color: black;
	font-size: 2em;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-decoration: none;
	background-color: #ffd500;
	padding: 10px 10px 10px 10px;	
	border-radius: 20px;
	border-style: solid;
	margin: 10px 0px 10px 10px;
}

.beeLogo {
        width: 60px;
        display: inline-block;
        vertical-align: middle;
        margin: 0px 0px 0px 20px;
        background-color: #ffd500;
        border-radius: 55px;
        border-style: solid;
		border-color: black;
}

body.beeBody {
	background-image: url("beeBackground.jpg");
	margin: 0px;
}


/* Index Styling */

h1.indexH1 {

	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text; 
	background-image: linear-gradient(to right,
	red, orange, yellow, green, blue,
	indigo, violet, indigo, blue, green,
	yellow, orange, red);
	padding: 20px;
	margin: 20px;
	border-style: solid;
	border-width: 10px;
	border-image: conic-gradient(red,orange,
	yellow, green, blue, indigo, violet, red) 1;
	display: inline-block;
}

