img.resize {
	width: 500px;
	height: auto;
}

div.polaroid {

	margin-bottom: 25px;
	display: grid;
  	grid-template-columns: auto auto auto auto auto auto;
  	align-items: center;
}

div.container { 
	text-align: center;
	padding: 10px 20px;
}

.viewPics {
	max-width: 20%;
	display: inline;
}

/* Index table styling */

.thirstyTable {
	margin-left: 40px;
        border-radius: 30px;
        overflow: hidden;
}


td.thirstyList {
        padding: 5px 20px 5px 20px;
        text-align: center;
}

.plantTable {
	margin-left: 40px;
        border-radius: 80px 80px 40px 40px;
        overflow: hidden;
}

td.plantsList {
        padding: 5px 40px 5px 40px;
        text-align: center;
}

/* Nav bar */
a.mainNav {
	color: #25FF00;
	font-size: 2em;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-decoration: none;
	background-color: #5A67FA;
	padding: 10px 10px 10px 10px;
	border-radius: 20px;
}

.refresh{
	margin-left: 30px;
}

a.button {
	text-decoration: none;
	border: solid;
	border-color: #0400FF;
	margin-left: 40px;
	padding: 5px 5px 5px 5px;
	color: #0400FF;
	border-radius: 20px;
	background-color: #e9eafa;

}

/* Body */

body.body {
	background-color: #CED2FC;
}

.logo {
	width: 50px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.beeLogo {
	width: 60px;
	display: inline-block;
	vertical-align: middle;
	margin: 0px 0px 0px 20px;
	background-color: #ffd500;
	border-radius: 30px;
	border-style: solid;
}

form.edit {
	margin-left: 20px;
}

h4.header4 {
	margin: 20px 0px 10px 40px;
}
