<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
	<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width"/>
	<title>{% block title %} {% endblock %}</title>
</head>
<body class="body">
	<nav class="mainNav">
		<a href="{{ url_for('index') }}"> <img class="logo" src="{{ url_for('static', filename='nook.png') }}"></a>
		<a href="{{ url_for('plantTracker') }}" class="mainNav">Plant Tracker</a>
		<a href="{{ url_for('gardenTracker') }}" class="mainNav">Garden Tracker</a>
		<a href="{{ url_for('treeTracker') }}" class="mainNav">Tree Tracker</a>
		<a href="{{ url_for('pod') }}" class="mainNav"> Plant of the Day </a>
		<a href="{{ url_for('addNew') }}" class="mainNav">Add New</a>
	</nav>
	<div class="content">
		{% block content %} {% endblock %}
	</div>
</body>
</html>
