
	{% extends 'base.html' %}


{% block content %}
	<h3>Edit <a href="{{ url_for('viewPics', plantName=plant['name']) }}">{{ plant['name'] }}</a></h3>
	
        <form action="{{ url_for('wateredToday', plantName=plant['name']) }}" method="POST", class="edit">
                <input type="submit" value="Watered today"
                        onclick="return confirm('Watered today?')">
	</form>
	<br>
	<form method="post", class="edit", enctype=multipart/form-data>
		<br>
		<label for="name">Name: </label>
		<input type="text" name="name"
			value="{{ request.form['name'] or plant['name'] }}"></input>
		<br>

		<br>
		<label for="lastWatered">Last watered: </label>
		<input type="date" name="lastWatered"
			value="{{ request.form['lastWatered'] or plant['lastWatered'] }}"></input>
		<br>

		<br>
		<label for="dryOut">Dry out period: </label>
		<input type="text" name="dryOut"
			value="{{ request.form['dryOut'] or plant['dryOut'] }}"></input>
		<br>
                <br>
                <label for="dryOut">It's been: </label>
                <input type="text" name="itsBeen"
                        value="{{ plant['timeEllapsed'] }}"></input>
                <br>
		<br>
		<button type="submit">Submit</button>
		<br>
		<br>
		<input type=file name=file>
		<input type=submit value=Upload>
	</form>
	<br>
	<hr>
	<h3>To delete this entry, click the button below</h3>

	<form action="{{ url_for('delete', plantName=plant['name']) }}" method="POST", class="edit">
		<input type="submit" value="Delete plant"
			onclick="return confirm('Are you sure you want to delete this plant?')">
	</form>

{% endblock %}
