{% if source == 'plantTracker' %}
	{% extends 'base.html' %}
{% else %}
	{% extends 'gardenBase.html' %}
{% endif %}

{% block content %}

<div class="editDiv">

        {% if source == 'plantTracker' %}
                        {% set mySource = 'plantTracker' %}

	        <h3 class="edit">Edit <a href="{{ url_for('viewPics', plantName=plant['name'], source='plantTracker') }}">{{ plant['name'] }}</a></h3>

	        <form action="{{ url_for('wateredToday', plantName=plant['name'], source='plantTracker') }}" method="POST", class="edit">
         	       <input type="submit" value="Watered today" onclick="return confirm('Watered today?')">
		</form>

        {% elif source == 'gardenTracker' %}
                        {% set mySource = 'gardenTracker' %}

	        <h3 class="edit">Edit <a href="{{ url_for('viewPics', plantName=plant['name'], source='gardenTracker') }}">{{ plant['name'] }}</a></h3>

	        <form action="{{ url_for('wateredToday', plantName=plant['name'], source='gardenTracker') }}" method="POST", class="edit">
                	<input type="submit" value="Watered today" onclick="return confirm('Watered today?')">
		</form>
	{% else %}
                        {% set mySource = 'treeTracker' %}

                <h3 class="edit">Edit <a href="{{ url_for('viewPics', plantName=plant['name'], source='treeTracker') }}">{{ plant['name'] }}</a></h3>

                <form action="{{ url_for('wateredToday', plantName=plant['name'], source='treeTracker') }}" method="POST", class="edit">
                        <input type="submit" value="Watered today" onclick="return confirm('Watered today?')">
		</form>

        {% endif %}


	<form method="post", class="edit", enctype=multipart/form-data>
		<br>
		<label for="name">Name: </label>
		<input type="text" name="name"
			value="{{ request.form['name'] or plant['name'] }}"></input>
		<br>

		<br>
		<label for="lastWatered">Last watered: </label>
		<input type="date" name="lastWatered"
			value="{{ request.form['lastWatered'] or plant['lastWatered'] }}"></input>
		<br>

		<br>
		<label for="dryOut">Dry out period: </label>
		<input type="text" name="dryOut"
			value="{{ request.form['dryOut'] or plant['dryOut'] }}"></input>
		<br>
                <br>
                <label for="dryOut">It's been: </label>
                <input type="text" name="itsBeen"
                        value="{{ plant['timeEllapsed'] }}"></input>
                <br>
		<br>
		<button type="submit">Submit</button>
		<br>
		<br>
		<input type=file name=file>
		<input type=submit value=Upload>
	</form>
	<br>

</div>

	<hr>

<div class="editDiv">
	<h3>To delete this entry, click the button below</h3>

	{% if source == 'plantTracker' or source == 'treeTracker' %}
			{% set mySource = 'plantTracker' %}

			<form action="{{ url_for('delete', plantName=plant['name'], source='plantTracker') }}" method="POST", class="edit">
				<input type="submit" value="Delete plant"
					onclick="return confirm('Are you sure you want to delete this plant?')">
			</form>

	{% else %}
			{% set mySource = 'gardenTracker' %}

			<form action="{{ url_for('delete', plantName=plant['name'], source='gardenTracker') }}" method="POST", class="edit">
				<input type="submit" value="Delete plant"
					onclick="return confirm('Are you sure you want to delete this plant?')">
			</form>

	{% endif %}

</div>


{% endblock %}
