{% block content %}

<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
	<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width"/>
	<title>{% block title %} {% endblock %}</title>
</head>

<body class="homeBody">

	<h1 class="indexH1">Welcome to the Home Assistant home page</h1>

		<p>
	    	This is the Culler/Kilar Fam home assistant site. Click the
    		links below to access different branches of the site.
		</p>

	<ul class="nav">
	    <li><a href="{{ url_for('plantTracker') }}">Plant Tracker</a></li>
		<li><a href="{{ url_for('gardenTracker') }}">Garden Tracker</a></li>
	    <li><a href="{{ url_for('beeTracker') }}">Bee Tracker</a></li>
		<li><a href="http://192.168.0.238:32400">Home Plex Server</a></li>
	</ul>

</body>

{% endblock %}
