{% extends 'base.html' %}

{% block content %}

	<p class="sectionHead"><u>Thirsty little guys:</u></p>

	<table class="thirstyTable">
                <th><u></u></th>

		{% for thirstyToday in thirstyToday %}
			{% if loop.index % 2 == 0 %}
				{% set bg_color = '#9EF1AE' %}
			{% else %}
				{% set bg_color = '#9EF1DC' %}
			{% endif %}		

                        <tr style="background-color: {{ bg_color }}">
                                <td class="thirstyList">
					<a class="thirstyList" href="{{ url_for('edit', plantName=thirstyToday['name'], source='treeTracker') }}">
						{{ thirstyToday['name'] }}
					</a>
				</td>
                        </tr>
		{% endfor %}
	</table>

	<br>
        <form action="{{ url_for('refreshDb', source='treeTracker') }}">
                <input type="submit" value="Refresh" class="refresh">
        </form>

	<br>
	<br>

	<p class="sectionHead"><u>The rest of the gang:</u></p>
	<table class="plantTable">
		<th class="plantsList"><u>Plant name:</u></th>
		<th class="plantsList"><u>Days left</u></th>
                <th class="plantsList"><u>out of...</u></th>
		<th class="plantsList"><u>Pics</u></th>

                {% for plants in plants %}
                        {% if loop.index % 2 == 0 %}
                                {% set bg_color = '#9EF1AE' %}
                        {% else %}
                                {% set bg_color = '#9EF1DC' %}
                        {% endif %}
			
			<tr style="background-color: {{ bg_color }}">
                                <td class="plantsList">
					<a class="thirstyList" href="{{ url_for('edit', plantName=plants['name'], source='treeTracker') }}">
						{{ plants['name'] }}
					</a>
				</td>
				<td class="plantsList">
					{{ plants['remaining'] }}
				</td>
                                <td class="plantsList">
					{{ plants['dryOut'] }}
				</td>
                                <td class="plantsList">
					<a class="thirstyList" href="{{ url_for('viewPics', plantName=plants['name'], source='plantTracker') }}">
						Link
					</a>
				</td>
                        </tr>
                {% endfor %}
        </table>


	<br>
	<a href="{{ url_for('addNew') }}" class="button">Add New</a>

{% endblock %}
